.title {
  box-shadow: 1px 3px 4px #000;
  color: rgb(40, 73, 73);
  background-image: url('/imagens/foto1.jpg');
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}